

<h2>Agregar nuevo contacto</h2>
<form action="/add" method="POST">
  <input name="nombres" placeholder="Nombres" required><br>
  <input name="apellidos" placeholder="Apellidos" required><br>
  <input name="fecha_nacimiento" type="date" required><br>
  <input name="direccion" placeholder="Dirección" required><br>
  <input name="celular" type="number" placeholder="Celular" required><br>
  <input name="correo" type="email" placeholder="Correo" required><br>
  <button type="submit">Guardar</button>
</form>
